<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <!--Enter the client id from the portal.-->
    <add key="ClientId" value="AU02_SALES_TEST_d4e91f6c5e134d2b800f09f241e9b0c2"/>
    <!--Enter the client secret from the portal-->
    <add key="ClientSecret" value="b4cfc23ecaa84bc28a9cd9135fdd9d85b5afe9e4ec764e9c8f8096a3b522215c"/>
    <!--Default scope is odataapis-->
    <add key="Scope" value="odataapis"/>
    <!--Enter the URL for the Service-->
    <add key="Environment" value="https://au02sales.sumtotaldevelopment.net"/>
    <!--Enter the redirect uri for service-->
    <add key="RedirectUri" value="https://test.sumtotal.com/oidc"/>
    <!--Indicate if you want a b2b call-->
    <add key="b2b" value="false"/>
  </appSettings>
</configuration>